{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous">
    </script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css">

<form id="buildPredictiveModelForm" method="POST">
    {% csrf_token %}

    <div class="breadcrumbs" style="font-weight: bold;text-align: left;">
        Select a csv file and then select label column and feature columns
    </div>
    <br>
    <div>
        <label for="graphapp_form_file_name">CSV File:</label>
        <select name="graphapp_form_file_name" id="graphapp_form_file_name"></select>
    </div>
    <br>
    <div>
        <label for="graphapp_form_target_column_name">Label Column:</label>
        <select name="graphapp_form_target_column_name" id="graphapp_form_target_column_name"></select>
    </div>
    <br>
    <div>
        <label for="select_column_name">Feature Columns:</label>
    </div>
    <div id="columnSelectionCheckboxContainer">
        <!-- Checkboxes will be added here -->
    </div>
    <br>
    <div>
        <label for="graphapp_form_predictive_model_algorithm">Select Algorithm:</label>
        <select name="graphapp_form_predictive_model_algorithm" id="graphapp_form_predictive_model_algorithm">
            <option value="Logistic Regression">Logistic Regression</option>
            <option value="Decision Tree">Decision Tree</option>
            <option value="Random Forest">Random Forest</option>
            <option value="SVC">SVC</option>
            <option value="KNN">KNN</option>
            <option value="Naive Bayes">Naive Bayes</option>
            <!-- <option value="Linear Regression">Linear Regression</option> -->
        </select>
    </div>
    <br>
    <label for="graphapp_form_model_name">Model Name:</label>
        <input type="text" id="graphapp_form_model_name" name="graphapp_form_model_name" placeholder="Enter model name" required>
    <div>
        <br>
        <input type="submit" class="button" value="Build Model" name="build">
        <br>
    </div>
</form>

<script>
    function generate_column_selection_options(filename){
        path = `/graphapp/csvanalysis/csvcolumnnames/${filename}`;
        $.ajax({
            url: path,
            type: "GET",
            dataType: "json",
            success: (jsonResponse) => {
                $("#graphapp_form_target_column_name").empty()
                jsonResponse.options.forEach(option => {
                    $("#graphapp_form_target_column_name").append(new Option(option, option));
                });

                $("#columnSelectionCheckboxContainer").empty()
                jsonResponse.options.forEach(option => {
                    var prefix = 'graphapp_form_model_column_'
                    prefixed_option = prefix.concat(option.replace(/\s/g, ''))

                    var checkbox = $('<input>').attr({
                        type: 'checkbox',
                        id: prefixed_option, // Remove spaces for ID
                        name: prefixed_option, // Name attribute for grouping checkboxes
                        value: option,
                        style: 'margin-right: 10px'
                    });
                    var label = $('<label>').text(option).attr('for', prefixed_option);
                    $('#columnSelectionCheckboxContainer').append(checkbox).append(label).append('<br>');
                });
            },
            error: () => console.log("Failed to fetch csv files!")
        });
    }
    
    $(document).ready(function () {
        $.ajax({
            url: "/graphapp/csvanalysis/csvfilenames/",
            type: "GET",
            dataType: "json",
            success: (jsonResponse) => {
                // Load all the file names
                $("#graphapp_form_file_name").empty()
                jsonResponse.options.forEach(option => {
                    $("#graphapp_form_file_name").append(new Option(option, option));
                });
                first_file_name = $("#graphapp_form_file_name").children().first().val();
                generate_column_selection_options(first_file_name);
            },
            error: () => console.log("Failed to fetch csv files!")
        });
    });

    $("#graphapp_form_file_name").on('change', function (event) {
        var filename = $(this).val();
        generate_column_selection_options(filename);    
    });

    $("#buildPredictiveModelForm").on("submit", (event) => {
        const csv_file_name = $("#graphapp_form_file_name").val();
        const graphapp_form_target_column_name = $("#graphapp_form_target_column_name").val();
        // const action = event.originalEvent.submitter.value;
    });
</script>

{% endblock content %}