{% extends "base.html" %}
{% block content %}
{% load static %}
{% load render_table from django_tables2 %}
<link rel="stylesheet" href="{% static 'app.css' %}">
<div class="custom-file mb-4">
    <div class="header" style="text-align: left;">
        <div>Select CSV dataset</div>
    </div>
    <div>
        <form id="example-form1" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
            <label for="images" class="drop-container">
                <span class="drop-title">Drop files here</span>
                or    
                <input type="file" class="custom-file-input" id="customFile" name="csv" required accept=".csv" size="60">
            </label>
            <div>
                <div>
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="custom-file mb-2" style="overflow:auto;">
    {% if table %}
    {% render_table table %}
    {% endif %}
</div>    
{% endblock content %}
