{% extends "base.html" %}
{% block content %}
<div style="float: left">
  <div id="content-charts">
    <div class="breadcrumbs" style="font-weight: bold;text-align: left;">
      Graphitude
    </div>
    <p>
      Welcome to Graphitude, a dynamic website that helps you to visualise your data! Simply upload your dataset and choose the column you wish to visualise and the type of visualisation. You can also select custom columns to generate a model and use it to predict values.
    </p>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous">
    </script>
{% endblock %}
