<nav class="sticky" id="nav-sidebar" style="min-width: 165px;">
    <table >
        <th>
        </th>
        <tr>
            <td>
                <a href="{% url 'csvuploader' %}">CSV Upload</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'csvanalysis' %}">CSV Analysis</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'buildpredictivemodel' %}">AI Predictive Model Build</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'testpredictivemodel' %}">AI Predictive Model Test</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'charts' %}">Demo Charts</a>
            </td>
        </tr>
    </table>
</nav>
  
  
