<nav class="sticky" id="nav-sidebar">
    <table class="action_list">
        <th>
        </th>
        <tr>
            <td>
                <a href="{% url 'csvuploader' %}">Upload CSV</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'charts' %}">Charts</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'csvanalysis' %}">CSV Analysis</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'csvform' %}">CSV Form</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ site_url }}">Model Performance</a>
            </td>
        </tr>
    </table>
</nav>
  
  
